<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Environments" type="Sulfur.Plumbing.Environment.EnvironmentsDataSection, Sulfur" />
  </configSections>

  <appSettings>

    <add key="ErrorCaptureLocation" value="C:\Temp\"/>

    <!--Choose browser to run test-->

    <add key="Browser" value="OpenQA.Selenium.Firefox.FirefoxDriver"/>
    <!--add key="Browser" value="OpenQA.Selenium.Chrome.ChromeDriver"/-->
    <!--<add key="Browser" value="OpenQA.Selenium.IE.InternetExplorerDriver"/>-->

  </appSettings>

  <Environments>

    <!--Prod-->
    <!--<Environment>
      <add name="HomePage" url="http://www.paulsodimu.co.uk" pageTitle="PaulSodimu.co.uk" />
    </Environment>-->

    <!--Dev-->
    <Environment>
      <add name="HomePage" url="http://paulsodimu.azurewebsites.net" pageTitle="PaulSodimu.co.uk" />
    </Environment>

  </Environments>


</configuration>